.code-panel {
  margin-top: 45px;

  background: #111827;

  border-radius: 18px;

  overflow: hidden;
}

.code-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 18px 24px;

  background: #1f2937;

  color: white;
}

.code-header button {
  border: none;

  padding: 10px 18px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: 600;
}

.code-panel pre {
  padding: 25px;

  overflow: auto;

  color: #22c55e;

  font-size: 0.9rem;

  line-height: 1.8;
}
